.four {
    background-color: rgb(243, 241, 241);
    margin: 0 100px;
    padding: 20px 0;
    text-align: center;
}

.FO1 {
    padding: 50px;
    width: 400px;
    height: 500px;
    justify-content: space-between;
    text-align: left;
    display: flex;
    margin: 0 auto;
}

.vil button {
    border-radius: 20px;
    background-color: rgb(154, 240, 240);
    width: 100px;
    color: black;
    border: none;
}
